body
{
	color: rgb(125, 221, 0);
	text-align : left;
	font-family : "coruier";
}

#cabecera{
	background: red;
}

#container{
	width: 70%;
	padding: 1em;
	text-align: left;
	border: 1 px solid #fff;
}
